@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

:root {
    --fundo: #1E1E1E;
}

body {
    background-color: var(--fundo);
    max-width: 100vw;
    width: 100%;

    .container {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .coluna-direita {
            position: absolute;
            max-height: 100vh;
            top: 0;
            right: 0;
            z-index: 2;
        }

        .coluna-esquerda {
            position: absolute;
            max-height: 100vh;
            top: 0;
            left: 0;
            z-index: 2;
        }



        .container-links {
            position: relative;
            z-index: 3;
            height: 100%;
            max-width: 600px;
            width: 100%;

            

            padding: 50px 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 50px;

            .background {
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                z-index: -1;
            }

            .header {
                max-width: 300px;
                width: 100%;
            }

            .links {
                padding: 0 3%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;

                a {
                    text-decoration: none;

                    img {
                        width: 100%;
                    }
                }
            }

        }

        .logo {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;

            .detalhe {
                position: absolute;
                left: 50%;
                top: 60px;
                transform: translateX(-50%);
                height: 153px;
                max-width: 1280px;
                width: 100%;

                background-image: url("embaixo.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        .container {
            .coluna-direita, .coluna-esquerda {
                display: none;
            }
        }
    }
}